.foorter {
  ::global {
    & > view {
      border-top-left-radius: 40rpx;
      border-top-right-radius: 40rpx;
    }
  }
}

.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20rpx 10rpx 10rpx;
}


.sign_btn {
  margin: 0;
  width: 335rpx;
  height: 76rpx;
  color: #fff;
  line-height: 76rpx;
  font-weight: bold;
  font-size: 24rpx;
  background-color: #BC9B6A;
  border-radius: 38rpx;
}
