@import '@wmeimob/taro-design/src/components/styles/themes/default.less';

.prefectureStyle {
  max-height: 100%;
  min-height: 50vh;
  background-image: url(./images/bg.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
}

.isEmpty {
  background-image: none;
}

.list {
  display: flex;
  flex-flow: wrap;
  padding: 0 @spacingSmall;
  padding-top: 20px;
}
