@import '../styles/themes/default.less';

@MMPullToRefresh: MMPullToRefresh;

.MMPullToRefresh {
  overflow: hidden;
}

.height1{
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1000;
  width: 50px;
  background-color: red;
  border: 10px solid;
}

.scrollView {
  height: 100%;
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  position: relative;
  height: 100%;
  transition: top 0.3s;
}

.content__refreshing {
  transition: all 0.4s;
}

.more {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 60px;
}

.footerLoading {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 60px;
}
