.sliderWithImageModuleStyle {
  width: 100%;
}

.content {
  display: flex;
  width: 100%;
  height: 240px;
}

.item {
  flex: 1;
  overflow: hidden;
}

.carousel {
  width: 100%;
}
.contentStyle {
  background: #cccccc;
}

.img {
  width: 100%;
  height: 240px;
  overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.imgContent {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.imgContent_item {
  flex: 1;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
