@import '@wmeimob/taro-design/src/components/styles/themes/default.less';

.slidersStyle {
  width: 100%;
  height: 100%;
}

.swiperItem {
  position: relative;
  width: 100%;
  // height 100%时h5高度是150px
  height: 240px;
  overflow: hidden;
}

.img {
  width: 100%;
  height: 240px;
  overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
