

.event_media {
    position: relative;
    display: flex;
    align-items: flex-end;
    width: 100%;
    height: 320rpx;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20rpx;
    box-shadow: inset 0 -50rpx 50rpx rgba(0, 0, 0, 0.3);
    border: 1rpx solid #767575;
    overflow: hidden;
}

.event_book_date {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 20rpx;
  width: 100%;
  color: #fff;
  font-size: 24rpx;
  height: 60rpx;
  line-height: 60rpx;
  background-color: #BC9B6A;
}

.event_title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20rpx 30rpx;
    width: 100%;
}

.event_title_text {
    font-size: 36rpx;
    font-weight: bold;
    color: #fff;
    width: 80%;
    text-overflow: ellipsis;
    overflow: hidden;
}

.event_content {
    display: flex;
    padding: 28rpx 30rpx;
}

.event_info_content {
  flex: 1;
}

.event_date {
  font-size: 24rpx;
  font-weight: bold;
  color: #fff;
}

.event_address {
    font-size: 24rpx;
    font-weight: bold;
    color: #fff;
}

.event_position {
    display: flex;
    align-items: center;
    gap: 10rpx;
}

.event_position_text {
  font-size: 24rpx;
  color: #fff;
  vertical-align: text-top;
}

.event_price {
  display: flex;
  align-items: flex-end;
}

.event_to_detail__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8rpx;
  margin-right: 0;
  padding: 0 22rpx;
  width: 178rpx;
  height: 50rpx;
  line-height: 50rpx;
  color: #fff;
  font-size: 24rpx;
  font-weight: bold;
  border-radius: 25rpx;
  background-color: #BC9B6A;
}