@import '@wmeimob/taro-design/src/components/styles/themes/default.less';

:export {
  gray5: @gray5;
  gray6: @gray6;
}

.goodCommentsStyle {
  margin-top: 10px;
}

.cardExtra {
  display: flex;
  align-items: center;
  color: @gray5;
  font-size: 12px;
  font-weight: 400;
}
