@import '../../styles/themes/default.less';

.selectStyle {
}

.option {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.optionsLabel {
  flex: 1;
  padding-right: @spacingLarge;
  color: #050505;
  font-weight: 400;
  font-size: 16px;
  text-align: left;
}

.placeholder {
  color: #999999;
  font-weight: 400;
  font-size: 14px;
}
