.rightsInfoStyle {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 15px;
  background: #ffffff;
  border-radius: 10px;
}

.text {
  margin-left: 10px;
  font-size: 15px;
  font-weight: 400;
  color: #333333;
}
