.prefectureStyle {
  height: 100vh;
  background-image: url(../../../assets/images/home/bg.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
  background-color: #0b0404;
}

.container {
  padding: 40rpx;
}

.form_item {
  position: relative;
  margin-bottom: 20rpx;
}

.label {
  font-size: 24rpx;
  font-weight: bold;
  color: white;
  margin-bottom: 10rpx;
}

.tips {
  color: #767575;
}

.select_arrow {
  position: absolute;
  top: 65%;
  right: 20rpx;
  transform: translateY(-50%);
}

.checkbox {
  margin-bottom: 20rpx;
  align-items: flex-start;
}

.aggreement {
  font-size: 18rpx;
  color: white;
  line-height: 24rpx;
}