.areaTable {
  :global(.ant-form-item) {
    margin-bottom: 0 !important;
  }
}
.wordBreak {
  word-wrap: break-word;
  word-break: break-all;
}

// 样式来自antd
.required::before {
  display: inline-block;
  margin-right: 4px;
  color: #ff4d4f;
  font-size: 14px;
  font-family: SimSun, sans-serif;
  line-height: 1;
  content: '*';
}

.inputNumber {
  width: 140px;
}

.itemNoStyle {
  margin-bottom: 0;
}
