@import '@wmeimob/taro-design/src/components/styles/themes/default.less';

.basicModuleNavigationStyle {
  width: 100%;
}

.content {
  width: 100%;
}

.innerContent {
  display: flex;
  // justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  padding-top: 15px;
}

.item {
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  margin-bottom: 15px;
}

.item_inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.text {
  margin-top: 10px;
  color: #333;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}
