

.countdown__message {
    font-size: 24rpx;
    font-weight: bold;
    color: #1A1919;
    font-family: 'Helvetica'; // Helvetica
}

.countdown__time {
    display: inline-flex;
    align-items: center;
    gap: 8rpx;
    font-size: 36rpx;
    font-family: 'Helvetica'; // Helvetica
    font-weight: bold;
    color: #1A1919;
}

.gray__text {
  color: #A7A9AC;
  font-size: 24rpx;
}