@import '@wmeimob/taro-design/src/components/styles/themes/default.less';

.couponBoxStyle {
}

.content {
  display: flex;
  flex-flow: column;
  height: 500px;
}

.list {
  flex: 1;
  overflow: hidden;
}

.footer {
  flex: none;
}

.noUse {
  width: 100%;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  font-size: @fontSize;
  font-weight: 500;
}

.spacingIphone {
  background: #fff;
}

.coupon {
  overflow: hidden;
  padding: 0 @spacingLarge;
}
