@import '@wmeimob/taro-design/src/components/styles/themes/default.less';

.quickSearchStyle {
  margin-top: 10px;
  padding: 20px 15px 50px 15px;
  background: #ffffff;
}

.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 21px;
  margin-bottom: 5px;
  color: #333333;
  font-weight: 500;

  font-size: 15px;
}

.trash {
  width: 16px;
  height: 16px;
}

.content {
  display: flex;
  flex-wrap: wrap;
  margin: -5px;
}

.search_item {
  display: flex;
  align-items: center;

  height: 28px;
  margin: 15px 5px 0 5px;
  margin-top: 15px;
  padding: 0 15px;
  color: #666666;
  font-weight: 400;

  font-size: 12px;
  background: #f6f6f6;
  border-radius: 15px;
}
