@import "~antd/es/style/themes/default.less";

.component {
}

.h5tip {
  color: @text-color-secondary;
  margin-top: 8px;
  font-size: 12px;
}


.desc {
  padding: 8px;
  border: 1px solid @border-color-base;
  border-radius: @border-radius-base;
}