@import '@wmeimob/taro-design/src/components/styles/themes/default.less';

.empty{
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img{
  width: 250px;
  height: 160px;
}

.con{
  margin-top: 4px;
  font-size: 24px;
  font-weight: 500;
  color: #333333;
  line-height: 33px;
  text-align: center;
}
.text{
  margin-top: 5px;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  color: #999999;
  line-height: 20px;
}
