@import '@wmeimob/taro-design/src/components/styles/themes/default.less';

.orderDetailStyle {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

.buttons {
  display: flex;
  justify-content: flex-end;
}

.scrollContent {
  background: url(./images/bk.png) no-repeat;
  background-size: 100% 202px;
  background-color: @bodyBackground;
}

.scrollContent_h5{
  // 没有状态栏相差44px
  background-size: 100% 158px;
}
