.my_radio {
  display: inline-flex;
  align-items: center;
  gap: 72rpx;
}

.my_radio_item {
  display: inline-flex;
  align-items: center;
  gap: 20rpx;
}

.my_radio_icon {
  width: 24rpx;
  height: 24rpx;
}

.my_radio_text {
  color: #fff;
}