.loadingView {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: black;
}

.loadingImg {
    width: 100%;
    height: 183rpx;
}