@import '@wmeimob/taro-design/src/components/styles/themes/default.less';

.orderGoodsStyle {
}

.statusStyle {
  font-size: @fontSizeSm;
  color: @fontColorSecondary;
}

.goods {
  position: relative;
  &:not(:last-child) {
    margin-bottom: @spacing;
  }
}

.goods_container {
  position: relative;
  flex: 1;
}

.goods_shippingTime {
  font-size: @fontSizeSm;
  text-align: right;
  margin-top: @spacing;
}
