@import '@wmeimob/taro-design/src/components/styles/themes/default.less';

.rContent {
  width: 100%;
  padding-left: 10px;
  overflow: hidden;
  color: @fontColorAssistant;
  font-weight: 400;
}

.title {
  font-weight: 500;
}
