@import '~@wmeimob/backend-styles/src/styles/theme.less';

.wrapper {
  padding: @padding-sm;
  background-color: @component-background;
}

.treeContainer {
  max-height: 550px;
  margin-top: @margin-sm;
  margin-bottom: @margin-sm;
  overflow: auto;
}
