@import '@wmeimob/taro-design/src/components/styles/themes/default.less';

.fullMinusDiscountStyle {
  display: flex;
  flex-direction: column;
}

.out {
  flex: 1;
  min-height: 0;
  background: url(./images/act_bk.png) no-repeat top center / calc(100vw / 375 * 375) calc(100vw / 375 * 154);

}

.actTime {
  margin-top: 14%;
  margin-left: 4.53%;
  margin-bottom: 17px;
  color: #FFFFFF;
  font-size: @fontSizeSm;
}
