@import '../../components/styles/themes/default.less';

.colorList {
  flex-direction: row;
}

.list {
}

.item {
  height: 40px;
  line-height: 40px;
  padding: 0 @spacingBase;
  color: @gray1;

  &:nth-of-type(1),
  &:nth-of-type(2),
  &:nth-of-type(3),
  &:nth-of-type(4),
  &:nth-of-type(5) {
    color: @gray8;
  }

  &:nth-of-type(5) {
    margin: @spacingBase 0;
  }
}

:export {
  red1: @red1;
  red2: @red2;
  red3: @red3;
  red4: @red4;
  red5: @red5;
  red6: @red;
  red: @red;
  red7: @red7;
  red8: @red8;
  red9: @red9;
  red10: @red10;

  orange1: @orange1;
  orange2: @orange2;
  orange3: @orange3;
  orange4: @orange4;
  orange5: @orange5;
  orange6: @orange;
  orange: @orange;
  orange7: @orange7;
  orange8: @orange8;
  orange9: @orange9;
  orange10: @orange10;

  yellow1: @yellow1;
  yellow2: @yellow2;
  yellow3: @yellow3;
  yellow4: @yellow4;
  yellow5: @yellow5;
  yellow6: @yellow;
  yellow: @yellow;
  yellow7: @yellow7;
  yellow8: @yellow8;
  yellow9: @yellow9;
  yellow10: @yellow10;

  green1: @green1;
  green2: @green2;
  green3: @green3;
  green4: @green4;
  green5: @green5;
  green6: @green;
  green: @green;
  green7: @green7;
  green8: @green8;
  green9: @green9;
  green10: @green10;

  cyan1: @cyan1;
  cyan2: @cyan2;
  cyan3: @cyan3;
  cyan4: @cyan4;
  cyan5: @cyan5;
  cyan6: @cyan;
  cyan: @cyan;
  cyan7: @cyan7;
  cyan8: @cyan8;
  cyan9: @cyan9;
  cyan10: @cyan10;

  blue1: @blue1;
  blue2: @blue2;
  blue3: @blue3;
  blue4: @blue4;
  blue5: @blue5;
  blue6: @blue;
  blue: @blue;
  blue7: @blue7;
  blue8: @blue8;
  blue9: @blue9;
  blue10: @blue10;

  purple1: @purple1;
  purple2: @purple2;
  purple3: @purple3;
  purple4: @purple4;
  purple5: @purple5;
  purple6: @purple;
  purple: @purple;
  purple7: @purple7;
  purple8: @purple8;
  purple9: @purple9;
  purple10: @purple10;

  pink1: @pink1;
  pink2: @pink2;
  pink3: @pink3;
  pink4: @pink4;
  pink5: @pink5;
  pink6: @pink;
  pink: @pink;
  pink7: @pink7;
  pink8: @pink8;
  pink9: @pink9;
  pink10: @pink10;

  gray1: @gray1;
  gray2: @gray2;
  gray3: @gray3;
  gray4: @gray4;
  gray5: @gray5;
  gray6: @gray6;
  gray7: @gray7;
}
