@import '../styles/themes/default.less';

.stepperStyle {
  display: flex;
  align-items: center;
  height: 18px;
}

.stepperStyle__custom {
  height: auto;
}

.icon {
  padding: 0 6px;
}

.input {
  width: 36px;
  margin: 0 2px;
  text-align: center;
  background: #f6f6f6;
  border-radius: 4px;
  height: 100%;
  line-height: 1;
}
