@import '@wmeimob/taro-design/src/components/styles/themes/default.less';

.orderItemStyle {
  margin-bottom: 10px;
}

.itemTopLeft {
  font-size: 13px;
  color: @fontColorSecondary;
}

.itemStatus {
  font-size: @fontSizeSm;
  color: @primaryColor;
}

.allPrice {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  font-size: @fontSizeSm;
  font-weight: 500;
  margin-bottom: 15px;
}

.every {
  display: flex;
}

.btnBox {
  display: flex;
  justify-content: flex-end;
}
