@import '@wmeimob/taro-design/src/components/styles/themes/default.less';

.goodActivityItemStyle {
  display: flex;
  width: 100%;
  justify-content: space-between;

  &:not(:last-child) {
    margin-bottom: @spacingLarge;
  }
}

.goodsImgBox {
  border-radius: 5px;
  margin-right: @spacingLarge;
  overflow: hidden;
}

.rightBox {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.name {
  line-height: 20px;
  font-size: @fontSize;
  font-weight: 500;
  color: @fontColor;
}

.priceCont {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.lh23{
  line-height: 23px!important;
}
.lh17{
  line-height: 17px!important;
  margin-bottom: 3px;
}

.marketPrice {
  flex: 1;
  margin-left: @spacing;
}

.space {
  flex: 1;
  margin-left: 10px;
}

.priceType {
  display: inline-block;
  font-size: @fontSizeMini;
  color: @primaryColor;
}

.stockCont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px;
  padding: 0px 10px;
  font-size: @fontSizeSm;
  color: #ffffff;
}

.stockCont_text {
  flex: 1;
  margin-left: 7px;
}

.stockContR {
  color: @primaryColor;
  font-weight: 500;
}
