@customCard: {
  .customCard {
    overflow: hidden;
    background-color: #f9f9f9;
    border-radius: 6px;
    padding: 0 8px;

    .card_head {
      font-weight: 500;
      height: 32px;
      line-height: 32px;
    }

    .card_content {
      padding: 8px 0;
    }
  }
}; ;
