@import '../styles/themes/default.less';

.radioStyle {
  display: flex;
  align-items: center;
  height: 32px;

  &.small {
    height: 26px;
  }

  &.button {
    padding: 0 16px;
    font-size: 12px;
    display: inline-flex;
    border: 1px solid #e6e6e6;
    border-radius: @borderRadiusSize;
    color: #666666;

    &.disabled {
      background-color: @bodyBackground;
      .checkboxStyle_content {
        color: @fontColorSecondary;
      }
    }

    &.checked {
      border-color: @primaryColor;
      background-color: @primaryColor;

      .checkboxStyle_content {
        color: #ffffff;
      }
    }

    .checkboxStyle_content {
      margin-left: 0;
    }
  }
}

.checkboxStyle_box {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  &.disabled {
    .unChecked {
      background-color: @gray3;
    }
  }
}

.unChecked {
  border: 1px solid @gray4;
}

.checkboxStyle_content {
  font-size: 14px;
  font-weight: 400;
  color: #333333;
  flex: 1;
  margin-left: 5px;
}

.radioGroupStyle {
}
