.countdown-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 120px;
}

.circle {
  transform: rotate(-90deg);
}

.circle-background {
  fill: none;
  stroke: #e6e6e6;
  stroke-width: 10;
}

.circle-progress {
  fill: none;
  stroke: #00aaff;
  stroke-width: 10;
  transition: stroke-dashoffset 1s linear;
}
