.countdown_circle {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 120px;
}

.circle_canvas {
  margin-top: 212rpx;
  background-color: yellow;
}
