@import '~@wmeimob/backend-styles/src/styles/theme.less';

.dragFormItemStyle {
}

.dragItem {
  padding: 0 8px;
  overflow: hidden;
  background: #f9f9f9;
  border-radius: 6px;
}

.dragItem_head {
  display: flex;
  min-height: 32px;
  color: @text-color-secondary;
  font-size: 12px;
  line-height: 28px;
  cursor: pointer;
}

.dragItem_head_title {
  flex: 1;
}

.dragItem_head_delete {
  color: @error-color;
}
