@import '@wmeimob/taro-design/src/components/styles/themes/default.less';

.afterSalesItemStyle {
  &:not(:last-child) {
    margin-bottom: @spacing;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.title {
  color: @gray6;
  font-size: @fontSizeSm;
  font-weight: 400;
}

.rgType {
  display: flex;
  color: @primaryColor;
  font-size: @fontSizeSm;

}


.rgStatus {
  color: #F21F2A;
  font-size: @fontSizeSm;
  font-weight: 400;
}
.gray{
  color: @gray6;
}

.goodsList {
  margin-bottom: @spacingLarge;
}

.goods {
  &:not(:last-child) {
    margin-bottom: @spacing;
  }
}


.allPrice {
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
  color: @gray6;
  font-size: @fontSizeSm;
  font-weight: 400;
  margin-bottom: @spacingLarge;
}

.btnBox {
  display: flex;
  justify-content: flex-end;
}
