@import '@wmeimob/taro-design/src/components/styles/themes/default.less';

.advertSwiperStyle {
  display: flex;
  justify-content: center;
  width: 100%;
}

.content {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
}

.swiperItem {
  overflow: hidden;
  border-radius: 8px;
}

.dotWrapper {
  position: absolute;
  bottom: 10px;
  left: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  width: 100%;
}

.dot {
  width: 4px;
  height: 4px;
  margin: 0 2px;
  background-color: #ebebeb;
  border-radius: 50%;
}

.dotActive {
  width: 8px;
  height: 4px;
  background: #cb0024;
  border-radius: 2px;
}
