.decorationStyle {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  background-image: url(../tabBar/mine//images/bg.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
  background-color: #010101;
}
