.prefectureStyle {
  max-height: 100%;
  min-height: 100vh;
  background-image: url(../../../assets/images/home/bg.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
  background-color: #0b0404;
}

.event_container {
  padding: 20rpx 40rpx 0;
}

.event_header {
  display: flex;
  align-items: center;
}

.timePeriod {
  color: #fff;
  font-size: 36rpx;
  font-weight: bold;
}

.event_position {
  display: flex;
  align-items: center;
  gap: 10rpx;
  margin-left: 10rpx;
}

.event_position_text {
  color: #fff;
  font-size: 24rpx;
  font-weight: 500;
  text-decoration: underline;
}

.event_header__text {
  color: #fff;
  font-size: 24rpx;
  font-weight: 500;
}

.list {
  display: flex;
  flex-direction: column;
  padding: 40rpx;
}

.list_title {
  margin-bottom: 28rpx;
  font-size: 24rpx;
  font-weight: 400;
  color: #fff;
}

