@import '../../components/styles/themes/default.less';

.item {
    position        : relative;
    width           : 60px;
    height          : 60px;
    border-radius   : @borderRadiusSize;
    background-color: @gray5;
}
