.addFrom {
  // > div > div {
  //   width: 200px;
  //   flex: initial;
  // }
}
.addFromItem{
  width: 600px;
}
.flex{
  display: flex;
  align-items: center;
  justify-content: space-between;
 .flexInput{
    margin: 0 10px!important;
  }
  >div{
    // width: 100px;
    margin:0 10px;
    margin-bottom: 0;
    div{
      margin-bottom: 0;
    }
  }
}
.margin{
  margin-bottom: 50px;
}