@import '@wmeimob/taro-design/src/components/styles/themes/default.less';

.footOperationStyle {
  text-align: center;
  font-size: 10px;
  width: 30px;
  position: relative;

}

.num {
  right: 0;
  top: 0;
  position: absolute;
  width: 13px;
  height: 13px;
  background-color: @shopCarDotColor;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 9px;
}
