
.container {
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 212rpx;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  background: #000;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.container_view {
  padding: 0 40rpx;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
}

.button {
  margin: 0;
  padding: 0;
  width: 96rpx;
  height: 48rpx;
  line-height: 48rpx;
  font-size: 24rpx;
  color: #fff;
  text-align: center;
  background: rgba(255, 255, 255, .2);
  border-radius: 24rpx;
  border: 1px solid #fff;
}
