@import '@wmeimob/taro-design/src/components/styles/themes/default.less';

.submitBotBarStyle {}

.footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.total {
  display: flex;
  align-items: baseline;
}

.text {
  display: flex;
  align-items: center;
  color: @fontColor;
  font-size: @fontSize;
  font-weight: 500;
  margin-left: @spacingSmall;
}

.qtyTotal {
  color: @gray6;
  font-size: 13px;
}

.save {
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
  line-height: 16px;
  font-size: 11px;
  font-weight: 400;
  color: #FF1A4E;
}

.submitButton {
  margin-left: @spacingLarge;
  min-width: 86px;
}
