.cardsStyle {
  padding: 15px;
  background: #ffffff;
  min-height: 100%;
}

.moreTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 400;
  color: #999999;
  line-height: 20px;
  padding: 15px 0;
}
