@import '~@wmeimob/backend-styles/src/styles/theme.less';

.moduleInfoCardStyle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.img {
  width: 88px;
  height: 50px;
}

.moduleInfoCardStyle_text {
  margin: 6px 0;
  color: @text-color;
  font-weight: bold;
  font-size: 12px;
}
