.richTextStyle {
  border: 1px solid #ccc;
  z-index: 100;
}

.customButtonGroup {
  background: #ffffff;
}

.previewButton {
  display: inline-block;
  padding: 0 20px;
  cursor: pointer;

  &:hover {
    background: #f1f1f1;
  }
}

.readonly {
  max-height: 400px;
  overflow-y: auto;
  border-top: 1px solid #ccc;
  padding: 20px;
}
