@import '~@wmeimob/backend-styles/src/styles/theme.less';

.wrapper {
  padding: @padding-sm;
  background-color: @component-background;
}

.empty {
  padding-top: @padding-lg;
  padding-bottom: @padding-lg;
}

.pagination {
  text-align: right;
  padding-top: @padding-sm;
}

.search {
  max-width: 300px;
  margin-bottom: @margin-sm;
}

.right {
  text-align: right;
}
