.tips_view {
    padding: 0 40rpx;
}

.tips_title {
    margin-bottom: 8rpx;
    font-size: 36rpx;
    color: #261C02;
    text-align: center;
}

.tips__text {
    margin: 4rpx 0;
    font-size: 24rpx;
    color: #261C02;
}
