.activityModuleStyle {
}

.card {
  background-color: #ffffff;
  border-radius: 8px;
  padding: 10px 10px 0 10px;
}

.card_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 22px + 10px;
  font-size: 15px;
  font-weight: 500;
  color: #333333;
  padding-bottom: 10px;
}
