@import '@wmeimob/taro-design/src/components/styles/themes/default.less';

.goodListStyle {
  &.grid {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -5px;

    .goodItem {
      width: 50%;
      padding: 5px;
    }
  }
}
