@import '@wmeimob/taro-design/src/components/styles/themes/default.less';

.activityTimeBoxStyle {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  height: 44px;
  padding: 0 15px;
  background: linear-gradient(270deg, #ff413b 0%, #ff413b 100%, #fe6000 100%);
}

.activityTimeBoxL {
  display: flex;
  align-items: center;
  color: #ffffff;
}

.time_icon {
  width: 13px;
  height: 14px;
  margin-right: 5px;
}

.timeNum {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;

  color: @cutDownTimeColor;
  font-weight: 500;
  background: #ffffff;
  border-radius: 5px;
}

.activityTimeBoxR {
  display: flex;
  align-items: center;
}

.sign {
  color: #ffffff;
  font-weight: 500;
}

.actEnd {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 36px;
  color: #fff;
  font-size: @fontSize;
  background: #d5d5d5;
}

.time_icon {
  width: 13px;
  height: 14px;
  margin-right: 5px;
}
