@import '@wmeimob/taro-design/src/components/styles/themes/default.less';

.splitLogisticsStyle {
  padding: 10px;
}

.more {
  font-size: 13px;
  font-weight: 400;
  color: #999999;
}

.imgs {
  display: flex;
  align-items: center;
}

.img {
  width: 98;
}
