.urlListStyle {
}

.editRow,
.showRow {
  display: flex;
  align-items: center;
  width: 100%;
}

.editRow_input,
.showRow_conent {
  flex: 1;
  padding: 0 10px;
}

.showRow_editIcon {
  cursor: pointer;

  &:hover {
    color: #2db7f5;
  }
}
