@import '@wmeimob/taro-design/src/components/styles/themes/default.less';

.orderAddressStyle {
  display: flex;
  align-items: center;
}

.icon {
  flex: none;
  display: block;
  width: 24px;
  height: 24px;
  margin-right: @spacingLarge;
}

.content {
  flex: 1;
  font-weight: 600;
  font-size: @fontSize;
}

.name {
  margin-right: @spacing;
}

.address {
  margin-top: @spacingSmall;
  color: @gray6;
  font-weight: 300;
  font-size: @fontSizeSm;
}
