.battery {
  display: flex;
  align-items: center;

  .icon {
    position: relative;
    height: 12px;
    width: 25px;
    padding: 2px;
    border-radius: 2px;
    border: 1px solid;
    margin: 0 3px;

    .power {
      height: 100%;
      background: #333333;
    }
    &::after {
      position: absolute;
      right: -5px;
      top: 3px;
      display: block;
      border: 1px solid;
      content: '';
      height: 50%;
    }
  }
}
