.vipCardStyle {
  position: absolute;

  left: 30px;
  right: 30px;
  bottom: 18px;

  display: flex;

  font-size: 16px;
  font-weight: 500;
  color: #ffe1bb;
}

.content {
  flex: 1;
  padding: 0 5px;
}

.subText {
  font-size: 12px;
  font-weight: 300;
}

.button {
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75px;
  height: 26px;
  background: linear-gradient(270deg, #ffe4c2 0%, #facd94 100%);
  border-radius: 14px;

  font-size: 11px;
  font-weight: 500;
  color: #3c3329;
}
