.about_us_container {
  position: relative;
  width: 100%;
  height: 100%;
}

.banner_title {
  width: 100%;
}

.about_us_contain {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding-top: 197rpx;
  padding-bottom: 380rpx;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.about_us_content__text {
  font-size: 36rpx;
  font-weight: bold;
  color: #fff;
  text-align: center;
}

.about_us_video {
  width: 100vw;
  height: 100vh;
}

