@import '@wmeimob/taro-design/src/components/styles/themes/default.less';

.masonryListStyle {
  height: 100%;
  display: flex;
  //overflow: hidden;
}

.sview {
  flex: 1;
  height: 100%;
  width: 50%;
}

.clacDom {
  position: fixed;
  top: -2000px;
  width: 100%;
  height: 100px;
  overflow: auto;
}
