.tagsStyle {
  display: inline-block;
  margin-right: 5px;
  background: linear-gradient(90deg, #7B74F8 0%, #457CFD 100%);
  border-radius: 5px;
  padding: 0px 12px;
}

.content {
  display: flex;
  align-items: center;
  height: 22px;
  font-size: 12px;
  font-weight: 500;
  color: #ffffff;
}
