@import '@wmeimob/taro-design/src/components/styles/themes/default.less';

.explain {
  position: absolute;
  right: -(@spacing + 1);
  top: 4px;
  width: 68px;
  line-height: 26px;
  text-align: center;
  color: #fff;
  font-size: 11px;
  font-weight: 400;
  border-radius: 13px 0 0 13px;
  border: 1px solid rgba(255, 255, 255, 0.17);
  background: rgba(255, 255, 255, 0.17);
}

.explain_detail {
  max-height: 60vh;
  overflow-y: auto;
  overflow-x: hidden;
  word-break: break-all;
  color: @gray6;
  font-size: @fontSize;
  margin-top: 20px;
  text-align: left;
}
