.event_tag {
    display: inline-block;
    color: #fff;
    font-size: 24rpx;
    font-weight: 500;
    padding: 0 24rpx;
    text-align: center;
    height: 50rpx;
    line-height: 50rpx;
    border-top-right-radius: 20rpx;
    border-bottom-left-radius: 20rpx;
    background-color: #BC9B6A;
}

.event_tag_before {
    background-color: #261C02;
}

.event_tag_after {
    background-color: #A7A9AC;
}