.customerListStyle {

}

.seat {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1px solid #ccc;
    height: 50px;
    cursor: pointer;
}

.disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.seatName {
    margin: 0;
    text-align: center;
}