@import '@wmeimob/taro-design/src/components/styles/themes/default.less';

.cardStyle {}

.footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: #E60A15;

}

.footer_text {
  line-height: 16px;
  font-size: @fontSizeSm;
  margin-right: @spacingSmall;
}
