@import '@wmeimob/taro-design/src/components/styles/themes/default.less';

.cellTitleStyle {
  max-width: 200px;
  color: @gray6;
  font-size: 13px;
  font-weight: 400;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
