@import '@wmeimob/taro-design/src/components/styles/themes/default.less';

.basicModuleTitleStyle {
  width: 100%;
}

.content {
  display: flex;
  flex-direction: row;
  // padding: 10px;
  align-items: center;
  justify-content: space-between;
}

.left {
  flex-shrink: 0;
  margin-right: 8px;
}

.text {
  flex: 1;
  display: flex;
  position: relative;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: 86rpx;
}

.text__name {
  position: relative;
  text-align: center;
  font-weight: bold;
  font-size: 48rpx;
  color: #BC9B6A;
  z-index: 1;
}

.text__subname {
  position: absolute;
  top: 40rpx;
  left: 50%;
  font-size: 36rpx;  // 你可以根据需要调整字体大小
  color: black;  // 设置文字颜色为透明
  font-weight: bolder;
  font-style: italic;
  font-family: 'Mediasansextended-blackitalic'; // Mediasansextended blackitalic
  -webkit-text-stroke: 3rpx #BC9B6A;  // 为文字添加边框
  transform: translateX(-50%);
  letter-spacing: 1rpx;
  opacity: 0.5;
  z-index: 0;
}

.right {
  flex-shrink: 0;
  margin-left: 8px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
}

.rightContent {
  font-size: 12px;
  color: #cccccc;
}
