@import '@wmeimob/taro-design/src/components/styles/themes/default.less';

.sortsStyle {
  display: flex;
  align-items: center;
  height: 36px;
  width: 100%;
}

.sortItem {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  font-weight: 400;
  color: #333333;
  line-height: 18px;
}

.sortItem_active {
  color: @threeColor;
  font-weight: 500;
}

.iconSort {
  font-size: 0;
  width: 10px;
  height: 10px;
}
