.noticeMenuStyle {
  :global {
    .ant-list-footer {
      padding: 0 !important;
    }
  }
}

.noticeMenuStyle_item {
  cursor: pointer;
  &:hover {
    background-color: #e6f7ff;
  }
}

.noticeMenuStyle_footer {
  display: flex;
  width: 100%;

  .noticeMenuStyle_footer_item {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 46px;
    cursor: pointer;
    &:hover {
      background-color: #e6f7ff;
    }
  }
}
