.liveList{
  display: flex;
  flex-direction: column;
  width: 100vw;
  //height: 100%;
  overflow: hidden;
  background: #f6f6f6;
}

.bgView{
  background: url(./bg.png) no-repeat top center!important;
  background-size: 100% 100%;
  color: #fff!important;
}

.list{
  flex: 1;
}
