@import '@wmeimob/taro-design/src/components/styles/themes/default.less';

.content {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 280px;
  height: 390px;
  background: url(./images/bg.png) no-repeat;
  background-size: contain;
}

.icon_code {
  position: absolute;
  top: 124px;
  left: 64px;
  width: 152px;
  height: 152px;
}

.follow {
  position: absolute;
  left: 50%;
  bottom: 44px;
  transform: translateX(-50%);
  line-height: 20px;
  color: @fontColorAssistant;
  font-size: @fontSize;
  font-weight: 500;
}
.follow_h5{
  text-align: center;
}

.icon_close {
  position: absolute;
  left: 50%;
  bottom: -20px;
  transform: translate(-50%, 100%);
  width: 36px;
  height: 36px;
}
