.base() {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 24px;
  line-height: 18px;
  color: #fff;
  font-size: 13px;
  font-weight: 500;
  text-align: center;
  border-radius: 12px;
}

.signButton {
  .base();
  background: linear-gradient(180deg, #FB464F 0%, #F51823 100%);
}

.signFinishButton {
  .base();
  border: 1px solid #FFFFFF;
  color: #ffffff;
}

.icon_sign {
  flex: none;
  width: 16px;
  height: 16px;
  margin-right: 2px;
}
