@import '../styles/themes/default.less';

.MMEmpty {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.fixed {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
}

.text {
  margin-top: 20px;
  color: @gray5;
  font-size: 14px;
  white-space: nowrap;
  text-align: center;
}
