@import '@wmeimob/taro-design/src/components/styles/themes/default.less';

.timeCountDownStyle {
  height: 18px;
  line-height: 18px;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  font-size: 10px;
  color: #ffffff;
  display: flex;
  align-items: center;

  .red {
    background: linear-gradient(180deg, #ed0025 0%, #cc0024 100%);
    padding: 0 6px;
    border-radius: 10px;
    margin-right: 6px;
  }
}
