@import '@wmeimob/taro-design/src/components/styles/themes/default.less';

.popup_container {
  padding: 0 20px;
  padding-top: 24px;
  padding-bottom: 3px;
}

.datePickerStyle {
}

.pickerFooter {
  display: flex;
  align-items: center;

  .pickerFooter_button {
    height: 40px;
    font-size: 16px;
    font-weight: 500;
    flex: 1;
  }

  .pickerFooter_button__cancel {
    font-weight: 400;
  }
}
