.prefectureStyle {
    position: relative;
    padding: 40rpx;
    height: 100vh;
    background-image: url(../../../tabBar/mine/images/bg.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: contain;
    background-color: #0b0404;
  }