@import '@wmeimob/taro-design/src/components/styles/themes/default.less';

.goodDetailStyle {
}

.footBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footBar_operation {
  text-align: center;
  font-size: 10px;
  width: 38px;
  position: relative;
}

.btnBox {
  flex: 1;
  margin-left: 15px;
  display: flex;
}

.num {
  right: 0;
  top: 0;
  position: absolute;
  width: 13px;
  height: 13px;
  background-color: @primaryColor;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 9px;
}

.footer {
  display: flex;
  width: 100%;
  overflow: hidden;

  .footer_button {
    flex: 1;
    margin: 0 5px;
  }
}
