@import '@wmeimob/taro-design/src/components/styles/themes/default.less';

.commentSuccessStyle {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background-color: #F6F6F6;
}

.wrap {
  position: relative;
}

.icon_success {
  width: 64px;
  height: 64px;
  margin-top: 80px;
}

.ModalBtn {
  padding: 0px 57px;
  padding-bottom: 60px;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flexItem {
  flex: 1;
}

.flexC {
  display: flex;
  justify-content: center;
}

.text {
  line-height: 22px;
  padding-top: 30px;
  padding-bottom: 50px;
  font-size: 16px;
  font-family: PingFangSC-Medium, PingFang SC;
  font-weight: 500;
  color: #333333;

  .subText {
    line-height: 22px;
    font-size: 16px;
    color: #999999;

    &:first-child {
      margin-right: 5px;
    }
    &:last-child {
      margin-left: 5px;
    }
  }
}

.advert {
  flex: 1;
  overflow: hidden;
  background: #f6f6f6;
  border-radius: 12px 12px 0px 0px;
  padding: 15px 15px 0 15px;
}
