@import '@wmeimob/taro-design/src/components/styles/themes/default.less';

.detailStatusStyle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: @containerSize;
  margin-bottom: @spacing;
}

.title {
  flex: 1;
  font-size: @fontSizeLarge;
  color: #fff;
  font-weight: 600;
  margin-left: @spacing;
}

.right {
  color: #fff;
  font-size: @fontSize;
  font-weight: 300;
}
