.cell_view {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20rpx;
    height: 50rpx;
}

.cell_left {
    font-size: 24rpx;
    color: #261C02;
    font-weight: bold;
}

.cell_right {
    flex: 1;
    text-align: right;
    color: #261C02;
}