@import '~antd/es/style/themes/default.less';

.component {
}

.linkText {
  color: @primary-color;
  cursor: pointer;
}

.linkText_remove {
  margin-left: 8px;
  color: #cccccc;
  cursor: pointer;

  &:hover {
    color: @red-base;
  }
}
