@import '@wmeimob/taro-design/src/components/styles/themes/default.less';

.contentModuleVideoStyle {
}

.videoWapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  :global{
    // h5 会给视频加定位...
    .taro-video-container{
      position: relative;
    }
  }
}

.video {
  width: 100%;
}
