@import '@wmeimob/taro-design/src/components/styles/themes/default.less';

.couponCodeExchangeStyle {
  display: flex;

  height: 100%;
}

.tip {
  margin: 0 0 10px;
  font-size: 16px;
  font-weight: 500;
  color: #333333;
  line-height: 22px;
}

.card{
  margin: 200px 15px 0;
}
.input{
  border-radius: 5px;
  background: #F6F6F6!important;
  margin-bottom: 30px;
}

.container {
  flex: 1;

  min-height: 0;
  background-image: url('./bg.png');
  background-repeat: no-repeat;
  background-size: 100% calc(100vw / 375 * 328);
}
