@import '~@wmeimob/backend-styles/src/styles/theme.less';

.sliderModuleStyle {
  width: 100%;
  min-height: 140px;
}

.content {
  overflow: hidden;
  border-radius: 8px;
}

.contentStyle {
  background: #cccccc;
}

.img {
  width: 345px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}
