@import '@wmeimob/taro-design/src/components/styles/themes/default.less';

.goodRecommendStyle {
}

.goodRecommendStyle_title {
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 16px;
  font-weight: 500;
  color: #333333;

  margin-bottom: 5px;
}
