.custom_swiper_item {
  padding: 4rpx;
  width: 100%;
  height: 100%;
  background-color: #fff;
  border-radius: 10rpx;
}

.custom_swiper_item_odd {
  background-color: #BC9B6A;
}

.custom_swiper_item_image {
  width: 100%;
  height: 223rpx;
}

.custom_swiper_item_content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 16rpx;
  padding: 0 20rpx;

  .custom_swiper_item_title {
    width: 70%;
    color: #000;
  }

  .custom_swiper_item_title_odd {
    color: #fff;
  }

  .custom_swiper_item_button {
    width: 132rpx;
    height: 48rpx;
    font-size: 24rpx;
    line-height: 48rpx;
    color: #fff;
    border-radius: 24rpx;
    background-color: #261C02;
  }
}

