@import '@wmeimob/taro-design/src/components/styles/themes/default.less';

.aftesalesAddStyle {
}

.icon {
  width: 18px;
  height: 18px;
}

.title {
  color: @fontColor;
  line-height: 20px;
  font-size: @fontSize;
  margin-bottom: 5px;
  font-weight: 500;
}

.subTitle {
  color: @fontColorSecondary;
  line-height: 16px;
  font-size: 11px;
}

.goods {
  &:not(:last-child) {
    margin-bottom: @spacing;
  }
}
