@import '@wmeimob/taro-design/src/components/styles/themes/default.less';

.popupAdsStyle {
}

.content {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.img {
  flex: none;
  display: block;
  width: 70vw;
}

.close {
  width: 36px;
  height: 36px;
  margin-top: @spacingLarge;
}
