// src/components/CustomSwiper/CustomSwiper.scss
.swiper-container {
  position: relative;
  padding: 40rpx 0;
  margin-left: 40rpx;
  width: 100%;
  height: 600px;
  overflow-x: hidden;
}

.swiper-body {
  position: relative;
  width: 100%;
  height: 100%;
  transform: rotate(2deg);
}

.swiper-slide {
  display: none;
  position: absolute;
  top: 0;
  left: 50%;
  width: 42%;
  height: 100%;
  border-radius: 40rpx;
  background-size: cover;
  background-position: center;
  background-color: #0b0404;
  transition: all 0.5s ease;
  transform: translateX(-15%);
}

.swiper-slide.next {
  display: block;
  transform: translateX(90%);
}

.swiper-slide.nnext {
  display: block;
  transform: translateX(195%);
  // transition: all 0.5s ease, visibility 0s;
  visibility: hidden;
}

.swiper-slide.prev {
  display: block;
  transform: translateX(-120%);
}

.swiper-slide.pprev {
  display: block;
  transform: translateX(-225%);
  // transition: all 0.5s ease, visibility 0s;
  visibility: hidden;
}

.swiper-slide.current {
  display: block;
  z-index: 3;
}

// .swiper-button {
//   position: absolute;
//   top: 50%;
//   transform: translateY(-50%);
//   font-size: 2rem;
//   color: #fff;
//   z-index: 4;
//   cursor: pointer;
// }

// .swiper-button.prev {
//   left: 10px;
// }

// .swiper-button.next {
//   right: 10px;
// }
