/* src/App.css */
.rcd_story {
  padding-top: 197rpx;
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: black;
}

.banner_title {
  width: 100%;
}

.banner_description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40rpx;
}

.rcd_swiper {
  position: relative;
  width: 100%;
  height: auto;
}

.decorate {
  position: absolute;
  left: 0;
  bottom: -70rpx;
  width: 224rpx;
  height: 224rpx;
}

