@import '~antd/lib/style/themes/default.less';

.decorationDetailStyle {
}
.component {
}

.headerBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.headerBar_name {
  color: @primary-color;
  cursor: pointer;
}

.content {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}

.phoneBody {
  min-height: 100%;
  background: #f6f6f6;
}

.phone {
  height: 100%;
  padding: 0 100px 0 12px;
  overflow: auto;
}
