.headTitleStyle {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
}

.line {
  border-top: 1px solid rgba(230, 230, 230, 1);
  width: 20px;
}

.text {
  margin: 0 10px;

  font-size: 14px;
  font-weight: 500;
  color: #333333;
}
