.cardDetailStyle {
  min-height: 100vh;
  background: linear-gradient(180deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
}

.rightDesc {
  display: flex;
  justify-content: flex-end;
  padding: 15px;
}

.rightDesc_content {
  font-size: 12px;
  font-weight: 400;
  color: #333333;
}

.levleDescWrapper {
  padding: 0 15px;
  padding-bottom: 70px;
}

.levleDesc {
  border-radius: 10px;
  padding: 15px;
  background: #ffffff;
  color: #666666;
}
