@import '../styles/themes/default.less';

@half: (@spacingLarge / 2);

.cellGroupStyle {
  overflow: hidden;
  background: #ffffff;
  border-radius: @borderRadius;
  padding: @half 0;
}

.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: @half 0px @half @spacingLarge;
  font-size: @fontSize;
  font-weight: 500;
  color: #333333;
}
