.event_info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding: 50rpx;
  height: 470rpx;
}

.event_basic_info {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 28rpx;
}

.event_info_title {
  margin-bottom: 20rpx;
  font-size: 36rpx;
  font-weight: bold;
  text-align: center;
  color: #261C02;
}

.event_basic__label {
  margin-top: 6rpx;
  margin-bottom: 6rpx;
  font-size: 24rpx;
  color: rgba(38, 38, 38, .6);
  font-weight: bold;
}

.event_basic__text {
  margin-top: 6rpx;
  margin-bottom: 6rpx;
  font-size: 24rpx;
  color: #261C02;
  font-weight: bold;
}

.event_distance {
  display: flex;
  align-items: center;
  gap: 8rpx;
}