.prefectureStyle {
  max-height: 100%;
  min-height: 100vh;
  background-image: url(./images/bg.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
  background-color: #261C02;
}

.canceled {
  background-color: #A7A9AC;
}

.special {
  background-color: #BC9B6A;
}

.finished, .canceled_body {
 &::after {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, .4);
  z-index: 9;
 }
}

.container {
  padding: 40rpx;
}

.event_content {
  position: relative;
  margin-top: 28rpx;
  background-image: url(./images/shadow.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
  height: 1229rpx;
}

.reservation_status {
  font-size: 42rpx;
  font-weight: bold;
  color: #fff;
}

.reservation__txt {
  font-size: 24rpx;
  color: rgba(255, 255, 255, .8);
}

.status_icon {
  position: absolute;
  top: -110rpx;
  right: 0;
  width: 171rpx;
  height: 171rpx;
}

.footer {
  display: flex;
  align-items: center;
  gap: 40rpx;
  padding: 40rpx;
}

.btn {
  margin: 0;
  flex: 1;
  font-size: 24rpx;
  font-weight: bold;
  height: 78rpx;
  line-height: 78rpx;
  border-radius: 39rpx;
  z-index: 10;
}

.cancel {
  color: #261C02;
  border: 1px solid #767575;
}

.confirm {
  color: #fff;
  background-color: #BC9B6A;
}