.prefectureStyle {
  max-height: 100%;
  min-height: 100vh;
  background-image: url(./images/bg.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
  background-color: black;
}

.container {
  padding: 40rpx;
}

.event_content {
  background-image: url(./images/shadow.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
  height: 1229rpx;
}


.footer {
  display: flex;
  align-items: center;
  gap: 40rpx;
  padding: 40rpx;
}

.btn {
  margin: 0;
  flex: 1;
  font-size: 24rpx;
  font-weight: bold;
  height: 78rpx;
  line-height: 78rpx;
  border-radius: 39rpx;
}

.cancel {
  color: #261C02;
  border: 1px solid #767575;
}

.confirm {
  color: #fff;
  background-color: #BC9B6A;
}