.scrollview {
    margin-top: 24rpx;
    width: 100vw;
    height: 70rpx;
    box-sizing: border-box;
}

.tabs_container {
    display: flex;
    align-items: center;
    flex-flow: row;
    flex-wrap: nowrap;
    padding-left: 40rpx;
}

.tab {
    margin-right: 12rpx;
    padding: 0 36rpx;
    height: 68rpx;
    white-space: nowrap;
    line-height: 68rpx;
    border-radius: 34rpx;
    color: #fff;
    border: 1px solid rgba(0, 0, 0, 0);
}

.active {
    color: #BC9B6A;
    border: 1px solid #BC9B6A;
}