@font-face {
  font-family: 'Helvetica'; // Helvetica
  src: url('./Helvetica.ttf') format('opentype');
}

// @font-face {
//   font-family: 'HelveticaNeue'; // HelveticaNeue
//   src: url('./HelveticaNeue.otf') format('opentype');
// }

// @font-face {
//   font-family: 'HelveticaNeueLTStdRoman'; // 为你的字体起一个名字
//   src: url('./HelveticaNeueLTStdRoman.otf') format('opentype');
// }

// @font-face {
//   font-family: 'MediaSansExtended-Black'; // 为你的字体起一个名字
//   src: url('./MediaSansExtended-Black.otf') format('opentype');
// }

@font-face {
  font-family: 'Mediasansextended-blackitalic'; // Mediasansextended blackitalic
  src: url('./mediasansextended-blackitalic.otf') format('opentype');
}

// @font-face {
//   font-family: 'MinionPro-Regular'; // 为你的字体起一个名字
//   src: url('./MinionPro-Regular.otf') format('opentype');
// }

// @font-face {
//   font-family: 'MyriadPro-blackiRegulartalic'; // 为你的字体起一个名字
//   src: url('./MyriadPro-Regular.otf') format('opentype');
// }

// @font-face {
//   font-family: 'SourceHanSansCN'; // SourceHanSansCN
//   src: url('./SourceHanSansCN/SourceHanSansCN-Normal.otf') format('opentype');
// }

// @font-face {
//   font-family: 'SourceHanSansCN-Bold'; // SourceHanSansCN Bold
//   src: url('./SourceHanSansCN/SourceHanSansCN-Bold.otf') format('opentype');
// }

// @font-face {
//   font-family: 'SourceHanSansCN-ExtraLight'; // SourceHanSansCN ExtraLight
//   src: url('./SourceHanSansCN/SourceHanSansCN-ExtraLight.otf') format('opentype');
// }

// @font-face {
//   font-family: 'SourceHanSansCN-Heavy'; // SourceHanSansCN Heavy
//   src: url('./SourceHanSansCN/SourceHanSansCN-Heavy.otf') format('opentype');
// }

// @font-face {
//   font-family: 'SourceHanSansCN-Light'; // SourceHanSansCN Light
//   src: url('./SourceHanSansCN/SourceHanSansCN-Light.otf') format('opentype');
// }

// @font-face {
//   font-family: 'SourceHanSansCN-Medium'; // SourceHanSansCN Medium
//   src: url('./SourceHanSansCN/SourceHanSansCN-Medium.otf') format('opentype');
// }

// @font-face {
//   font-family: 'SourceHanSansCN-Regular'; // SourceHanSansCN Regular
//   src: url('./SourceHanSansCN/SourceHanSansCN-Regular.otf') format('opentype');
// }

// @font-face {
//   font-family: 'TradeGothicLTStd'; // TradeGothicLTStd
//   src: url('./TradeGothicLTStd/TradeGothicLTStd.otf') format('opentype');
// }

// @font-face {
//   font-family: 'TradeGothicLTStd-Obl'; // TradeGothicLTStd Obl
//   src: url('./TradeGothicLTStd/TradeGothicLTStd-Obl.otf') format('opentype');
// }

// @font-face {
//   font-family: 'TradeGothicLTStd-Light'; // TradeGothicLTStd Light
//   src: url('./TradeGothicLTStd/TradeGothicLTStd-Light.otf') format('opentype');
// }

// @font-face {
//   font-family: 'TradeGothicLTStd-LightObl'; // TradeGothicLTStd LightObl
//   src: url('./TradeGothicLTStd/TradeGothicLTStd-LightObl.otf') format('opentype');
// }

// @font-face {
//   font-family: 'TradeGothicLTStd-Bold'; // TradeGothicLTStd Bold
//   src: url('./TradeGothicLTStd/TradeGothicLTStd-Bold.otf') format('opentype');
// }

@font-face {
  font-family: 'TradeGothicLTStd-BoldObl'; // TradeGothicLTStd BoldObl
  src: url('./TradeGothicLTStd/TradeGothicLTStd-BoldObl.otf') format('opentype');
}