.verify_item {
    margin-top: 44rpx;
}

.verify_item_time {
    margin-bottom: 20rpx;
    font-size: 24rpx;
    color: #BC9B6A;
    font-weight: bold;
}

.verify_item_title {
    font-size: 36rpx;
    font-weight: bold;
    color: #fff;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.verify_item_contain {
  padding: 20rpx 30rpx;
  border-radius: 20rpx;
  border: 1rpx solid #A7A9AC;
}

.verify_item_content {
    margin: 20rpx 0;
  padding: 20rpx 0;
  border-top: 1rpx solid #A7A9AC;
  border-bottom: 1rpx solid #A7A9AC;
}

.verify_item_title_text {
    font-size: 24rpx;
    color: #fff;
    line-height: 48rpx;
}