@import '@wmeimob/taro-design/src/components/styles/themes/default.less';

.marketingActivitysStyle {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.tagItem {
  word-break: break-all;
  margin-top: 15px;
  margin-right: 15px;
  padding: 2px 11px;
  color: #ff413b;
  font-weight: 400;

  font-size: 12px;
  background: #ffeeee;
  border-radius: 5px;
}
