@import '@wmeimob/taro-design/src/components/styles/themes/default.less';

.confirmOrderStyle {
  //padding-top: 10px;
}

.preSale{
  width: 100%;
  height: 44px;
  background: url("./images/bg_pre.png");
  background-size: cover;
  margin-bottom: 10px;
  display: flex;
  padding: 0 15px;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  color: #FFFFFF;
}

.allPrice {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  font-size: @fontSizeSm;
  font-weight: 500;
  padding: (@spacingLarge / 2) @spacingLarge;
}

.remarkInput {
  height: 55px;
  text-align: left;
}


.cellTitle {
  color: @gray6;
  font-weight: 400;
  font-size: 13px;
}

.emptyAddress {
  color: @gray5;
  font-weight: 400;
}

.normalWeight {
  font-weight: 400;
}

.sum {
  color: @gray6;
  font-weight: 400;
}
