@import '@wmeimob/taro-design/src/components/styles/themes/default.less';

.searchStyle {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.bg_white{
  background: #fff;
}

.filterBar {
  display: flex;
  justify-content: space-around;
  width: 100%;
  background-color: #fff;

  .classifyBox {
    width: 20%;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    padding-right: 10px;
    font-size: 13px;

    .classify {
      display: flex;
      align-items: center;
      padding-left: 7px;
      line-height: 18px;
      color: @fontColor;
    }
    .classify_active {
      color: @threeColor;
      font-weight: 500;
    }
  }
}

.filterShadowBar {
  box-shadow: 0px 1px 0px 0px #e6e6e6;
}

.searchContent {
  flex: 1;
  box-sizing: border-box;
  padding: 5px 0;
  background-color: #fff;
}

.searchBox {
  box-sizing: border-box;
  padding: 5px 10px;
  background-color: #fff;
}

.listType_icon {
  width: 20px;
  height: 20px;
}

.listContent {
  flex: 1;
  min-height: 0;
  margin-top: @spacing;

  .classifyContent {
    height: 100%;
  }
}

.icon_category {
  width: 15px;
  height: 15px;
  display: block;
  margin: 1px 0 2px;
}

.masonryList {
  padding: 0 @spacing;
}

.footer {
  display: flex;
  width: 100%;
  overflow: hidden;

  .footer_button {
    flex: 1;
    margin: 0 5px;
  }
}
