.createStyle {
}

.richTextContent {
  word-break: break-all;
  :global {
    img {
      width: 100%;
      height: auto;
    }
  }
}

.priceWrap {
  position: relative;
}

.priceDesc {
  position: absolute;
  right: 0;
}
