@import '@wmeimob/taro-design/src/components/styles/themes/default.less';

.flashSaleStyle {
  overflow: hidden;
  display: flex;
  flex-flow: column;
  height: 100vh;
}

.bgImg {
  flex: none;
  width: 100%;
}

.wrapper {
  flex: 1;
  overflow: hidden;
  margin-top: -50px;
}

.list {
  height: 100%;
  overflow-y: auto;
  position: relative;
  z-index: 2;
  box-sizing: border-box;
  padding: 0 @spacing;
}
