@import '@wmeimob/taro-design/src/components/styles/themes/default.less';

.hotKeywordStyle {
  flex: 1;
  padding: 20px 15px 20px 15px;
  background: #ffffff;
}

.hotSearchTitle {
  margin-bottom: 5px;
  color: #333333;
  font-weight: 500;
  font-size: 15px;
}

.hotSearchContent {
  display: flex;
  flex-wrap: wrap;
  margin: -5px;
}

.item {
  display: flex;
  align-items: center;

  height: 28px;
  margin: 15px 5px 0 5px;
  margin-top: 15px;
  padding: 0 15px;
  color: #666666;
  font-weight: 400;

  font-size: 12px;
  background: #f6f6f6;
  border-radius: 15px;
}


.hotIcon {
  width: 20px;
  height: 20px;
  margin-right: @spacingSmall;
}
