.prefectureStyle {
  height: 100vh;
  // background-image: url(../../../assets/images/home/bg.png);
  // background-repeat: no-repeat;
  // background-position: top center;
  // background-size: contain;
  background-color: #0b0404;
}

.scroll {
  height: 100vh;
}

.navigator_bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

.banner {
  position: relative;
  height: 652rpx;
}

.share_btn {
  position: absolute;
  right: 40rpx;
  bottom: 32rpx;
  margin: 0;
  padding: 0;
  height: 72rpx;
  background: none;
}

.share_icon {
  width: 72rpx;
  height: 72rpx;
}

.container {
  padding: 24rpx 40rpx;
}

.event_title {
  font-size: 36rpx;
  font-weight: bold;
  color: #fff;
}

.event_content {
    display: flex;
    padding: 16rpx 0;
}

.event_info_content {
  flex: 1;
}

.event_date {
  font-size: 24rpx;
  font-weight: bold;
  color: #fff;
}

.event_address {
    font-size: 24rpx;
    font-weight: bold;
    color: #fff;
}

.event_position {
    display: flex;
    align-items: center;
    gap: 10rpx;
}

.event_position_text {
  font-size: 24rpx;
  color: #fff;
  vertical-align: text-top;
}

.event_price {
  font-weight: bold;
  font-size: 36rpx;
  color: #BC9B6A;
}

.event_member {
  font-size: 24rpx;
  font-weight: bold;
  color: #BC9B6A;
}

.event_desc {
  margin-top: 40rpx;
  color: rgba(255, 255, 255, .8);
}

.event_desc_footer {
  margin-top: 100rpx;
  text-align: center;
  font-size: 18rpx;
  font-weight: bold;
  color: #A7A9AC;
}

.contact_us {
  text-decoration: underline;
}