.videoModuleStyle {
  width: 100%;
}

.defaultVideoWrapper {
  display: flex;
  justify-content: center;
}

.defaultVideo {
  width: 140px;
  height: 90px;
}

.videoWrapper {
  display: flex;
  flex-direction: column;
}

.video {
  width: 100%;
  height: 210px;
}
