

.event_media {
    position: relative;
    display: flex;
    align-items: flex-end;
    padding: 20rpx 30rpx;
    width: 100%;
    height: 320rpx;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20rpx;
    box-shadow: inset 0 -50rpx 50rpx rgba(0, 0, 0, 0.3);
    border: 1px solid #767575;
}

.event_tag {
    position: absolute;
    top: 0;
    right: 0;
}

.event_title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.event_title_text {
    font-size: 36rpx;
    font-weight: bold;
    color: #fff;
    width: 80%;
    text-overflow: ellipsis;
    overflow: hidden;
}

.event_content {
    display: flex;
    padding: 28rpx 30rpx;
}

.event_info_content {
  flex: 1;
}

.event_date {
  font-size: 24rpx;
  font-weight: bold;
  color: #fff;
}

.event_address {
    font-size: 24rpx;
    font-weight: bold;
    color: #fff;
}

.event_position {
    display: flex;
    align-items: center;
    gap: 10rpx;
}

.event_position_text {
  font-size: 24rpx;
  color: #fff;
  vertical-align: text-top;
}

.event_price {
  font-weight: bold;
  font-size: 36rpx;
  color: #BC9B6A;
}