.navigationModuleStyle {
  width: 100%;
}

.content {
  width: 100%;
}

.innerContent {
  display: flex;
  // justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  padding-top: 15px;
}

.item {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
  // flex: 1;
}

.text {
  margin-top: 10px;
  color: #666666;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}

.img_placeholder {
  width: 40px;
  height: 40px;
  background-color: #e4e4e4;
}
