@import '~@wmeimob/backend-styles/src/styles/theme.less';

.scrollView {
  flex: none;
  overflow-y: auto;
  width: 250px;
  height: 400px;
  & + & {
    margin-left: 10px;
  }
}

.checkItem {
  display: flex;
  border-radius: 2px;
  padding: 6px 0;
  padding-left: @padding-xs;
  margin: 0;
}

.checkItemText {
  flex: 1;
  margin-left: @margin-xs;
  cursor: pointer;
}

.checkItemActive {
  color: #fff;
  background: @primary-color;
  border-radius: 2px;
}
