@import '~@wmeimob/backend-styles/src/styles/theme.less';

.wrapper {
  display: flex;
}

.cardScrollView {
  display: flex;
  width: 780px;
  overflow-x: auto;
}

.treeCard {
  overflow-y: scroll;
  width: 260px;
  height: 400px;
}

.empty {
  padding-top: @padding-lg;
}
