@import '@wmeimob/taro-design/src/components/styles/themes/default.less';

.userAgreementUpdateDialogStyle {
}

.updateText {
  color: @fontColorAssistant;
}

.linkContent {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}

.linkText {
  color: @blue;
}

.mainText{
  text-align: center;
}
