.tabs_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 24rpx;
    padding: 0 80rpx;
    width: 100%;
    overflow-x: scroll;
}

.tab {
    margin-right: 12rpx;
    padding: 0 36rpx;
    height: 68rpx;
    white-space: nowrap;
    line-height: 68rpx;
    border-radius: 34rpx;
    color: #fff;
    border: 1px solid rgba(0, 0, 0, 0);
}

.active {
    color: #BC9B6A;
    border: 1px solid #BC9B6A;
}